/* variables */
 :root{
     --primary:#ffc636;
     --secondary:black;
 }

 /* reset */

 *{
     box-sizing:border-box;
 }

 body,p,a,ul,li{
     margin: 0;
     padding: 0;
     text-decoration: none;
 }
 li{
     list-style-type: none;
 }

 /* base styles */

 html{
     scroll-behavior: smooth;
 }
 body{
     background-color: var(--secondary);
     overflow-x: hidden;
     font-family: 'Rubik Regular';
 }
 .button{
     background: none;
     border: 2px solid var(--primary);
     color: var(--primary);
     padding: 6px; 12px;
     border-radius:20px;
     text-transform:uppercase;
     box-shadow:1px 2px 3px rgba(0,0,0,0.6);
     display:inline-block;
 }
 .button:hover{
     color:#222;
     background: var(--primary)
 }


/* fonts */
@font-face{
    font-family: 'Rubik Regular';
    src=url('assets/fonts/Rubik-Regular.ttf');
}

h1,h2,h3,h4{
    color:#dddbff;
    font-weight:normal;
}
p,a,li{
    color:#9893D8;
}
h1,h3{
    font-size:1.2em;
}
h2{
    font-size:1.6em;
}
h4{
    font-size:1.1em;
}
.leading{
    font-size: 1.1em;
}

/* mobile-styles */
.grid{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    gap:10px;
}
.site-nav{
     padding: 5px;padding-bottom: 2px;
     padding-left:3rem;
     padding-right: 3rem;
     
}
.site-nav ul{
    display:none;
    padding-right: 4rem;
}
.site-nav h1{
    grid-column:1/4;
    grid-row:1;
    padding-bottom: 10px;
    border-bottom:3px solid var(--primary);
}
#welcome{
    padding:0 20px 20px 10px;
}
.welcome-text{
    padding-left:40px;
    padding-right: 40px;
    grid-column:1/6;
}
.welcome-img{
   grid-column: 6/9;
   padding-right: 0px;
}

.welcome-text a{
    margin:20px 0;
}
#portfolio{
    border-top: 2px solid purple;
    padding: 0 40px;
}
#portfolio h3{
    text-align:center;
    margin-bottom:0;
}

.projects a{
    grid-column:1/9;
}
.projects a:hover{
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;

}


.projects a *{
    max-width:40%;
    align-self: center;
    border-radius:25%;
}
.projects h4{
    font-size: 1.5rem;
    color:purple;
}
#skills{
    padding:30px 20px;
    background-color:black;
}
#skills h3{
    text-align: center;
}
#skills ul{
    margin:40px 0;
}
#skills li{
    grid-column:span 4;
    text-align:center;
    background-color:rgb(7, 3, 7);
}
#skills img{
    height:100px;
    margin:10px auto;
    border-radius:10%;
}
#skills img:hover{
      position: relative;
      top: -4px;
}
#contact{
    margin-bottom: 50px;
    padding;30px 20px;
    background-color:rgb(7, 3, 7);
}
#contact h3, #contact p{
        text-align:center;
        margin-bottom:0;
}
#contact h3{
    margin-bottom: 10px;
}

#contact form{
    margin:20px auto;
    width:80%;
    max-width:400px;
    text-align:center;
}
#contact input, #contact textarea{
    width:100%;
    margin:10px 0;
    background-color:var(--secondary);
    padding:10px 16px;
    border-radius:20px;
    border:2px solid #9893D8;
    color:#f2f2f2;
}
 input:focus, textarea:focus{
    outline: none;
}
#contact .button{ 
    margin-top:10px;
}
 
footer{
   border-top: 2px solid purple;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 20px;
}

footer .social{
    display:flex; 
    justify-content: center; 
    align-items: center;
    gap:20px;
    margin-top: 20px;
}

/* small tablet styles */

@media screen and (min-width:600px){
.site-nav{
    margin:0px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:3;
    background-color: #000;
}
.site-nav ul{
  display:flex;
  grid-column:6/9;
  margin-top: 20px;
  gap:20px;
}
#welcome{
    margin-top: 90px;
    padding:0 20px 20px 10px;
}

}

@media screen and (max-width:620px){

      .welcome-img{
        display: none;
    }  
    .welcome-text{
        grid-column:1/9;
        background-image: linear-gradient(120deg, #000000bb, #000000e8), url("assets/img 1.jpg");
        background-repeat: no-repeat;
        background-position: right;
        background-size:contain ;
        opacity: 1;
    }
    .leading{
        grid-column: 1/5;
    }
    #portfolio h3{
        margin-top: 2rem;
        margin-bottom:3rem;
    }

    .projects{
       text-align: center;
    }
  .projects a{
      grid-column: 1/9;
    
  }
    .projects a *{
        width: 70%;
        max-width:100%;
        align-self: center;
        border-radius:25%;
    }
    .projects h4{
        text-align: center;
        padding-left: 50px;
    }
}
@media screen and (min-width: 621px){

  
    .welcome-text{
        grid-column:1/5;
    }
    .welcome-img{
        grid-column:5/9;
    }
    .welcome-img{
        padding-right: 0px;
        width: 100%;
    }
    .projects{
        margin-top:40px;
    }
    .projects a{
        width: 200%;
    }
    .projects a:nth-child(1){
        grid-column:2/4 ;
        /* width:250%; */
    }
        .projects a:nth-child(2){
           grid-column:4/6;
           padding-top:160px;
       }
       .projects a:nth-child(3){
           grid-column:6/8;
       } 
    .projects a *{
        max-width:48%;
        margin:10px;
    }
    .projects h4{
       text-align: center;
    }
    #skills{
        padding:30px 100px;
    }
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px){
    body{
        font-size:18px;
    }
    .grid{
        width:100%;
        margin:0px auto;
    }
    .welcome-text{
        grid-column:1/6;
    }
    .welcome-img{
        grid-column:6/9;
     
    }
  
    #portfolio h3{
   
        margin-bottom:3rem;
    }
  .leading{
      margin:10px 0;
  }
  .site-nav h1{
    grid-column:1/3;
 }
 .site-nav ul{
     margin-right: 20px;
 }
 .projects a:nth-child(1){
     grid-column:2/4 ;
     /* width:250%; */
 }
     .projects a:nth-child(2){
        grid-column:4/6;
        padding-top:160px;
    }
    .projects a:nth-child(3){
        grid-column:6/8;
    } 
    #skills,#portfolio{
        padding:2rem 20px;
    } 
    #skills ul{
        margin:40px auto;
    }
    #skills li{
        grid-column:span 2;
    }

}
/* desktop styles */
@media screen and (min-width:1200px){

    body{
        font-size:20px;
    }
    .site-nav ul{
        margin-right: 20px;
    }
    #welcome, #portfolio, #skills, #contact{
        padding:5rem 0;
    }
    #portfolio{
        padding-top: 5rem;
    }
    .welcome-text{
        grid-column:1/6;
    }
  .site-nav ul{
      display:flex;
      justify-content: flex-end;
      grid-column:8/9;
      margin:20px 0;
      gap:20px;
  }
  .projects a:nth-child(1){
    grid-column:1/3;
   }
   .projects a:nth-child(3){
       grid-column:7/9;
   } 
  .projects a *{
       max-width:50%;
   }
}

/* grid testing
.projects{
    display:grid;
   grid-template-columns:repeat(12, 1fr) ;
   gap:10px;
}
.projects a{
    text-align:center;
    padding:20px;
}

.projects a:nth-child(1){
    grid-column:2/6;
    grid-row:1;
}
.projects a:nth-child(2){
    grid-column:8/12;
    grid-row:1;
}
.projects a:nth-child(3){
    grid-column:5/9;
    grid-row:2;
} */